<div>
  <div class="">
    <table class="table text-center">
      <thead>
        <tr>
          <th class="text-center js-scroll-trigger">username</th>
          <th class="text-center js-scroll-trigger">phone</th>
          <th class="text-center js-scroll-trigger">email</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="user in $ctrl.users">
          <td>{{user.username}}</td>
          <td>{{user.phone}}</td>
          <td>{{user.email}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>